<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="PowerUser" value="false"/>
		<add key="Executable" value="Sims"/>
		<add key="WidthPattern" value="20 03"/>
		<add key="BetweenPattern" value="00 00 C7 45 E0"/>
		<add key="HeightPattern" value="58 02"/>
		<add key="EnableLogging" value="false"/>
	</appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
