<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" />
	</runtime>
	<appSettings>
		<add key="PowerUser" value="false"/>
		<add key="Executable" value="Sims"/>
		<add key="WidthPattern" value="20 03"/>
		<add key="BetweenPattern" value="?? ?? ?? ?? ??"/>
		<add key="HeightPattern" value="58 02"/>
		<add key="EnableLogging" value="true"/>
		<add key="CheckInstallation" value="true"/>
	</appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
